/* variables */
:root {
  /* FONT COLOR */
  --font-base-color: #2c3e50;
  --font-link-color: #2c3e50;
  --font-link-active-color: #42b983;
  --font-link-hover-color: ;
  /* FONT COLOR */

  /* FONT SIZE */
  --font-base-size: ;
  --font-button-size: 1rem;
  --font-link-size: ;
  --font-title-size: ;
  /* FONT SIZE */

  /*  FONT WEIGHT */
  
  /*  FONT WEIGHT */

  /* BUTTON FONT COLOR */
  --button-light-color: #fff;
  --button-dark-color: #000;
  --button-delete-color: ;
  --button-update-color: ;
  --button-submit-color: ;
  /* BUTTON FONT COLOR */

  /* BUTTON BACKGROUND COLOR */
  --button-background-logout-color: #ffc107;
  --button-background-link-color: #0d6efd;
  --button-background-hover-color: #fff;
  --button-background-submit-color: #198754;
  --button-background-delete-color: #dc3545;
  /* BUTTON BACKGROUND COLOR */

  /* BACKGROUND COLOR */
  --background-base-color: #fff;
  --background-panel-color: rgb(241, 241, 241);
  /* BACKGROUND COLOR */

  /* BORDER COLOR */
  --border-panel-color: #fff;
  /* BORDER COLOR */
}