/* variables */
:root {
  /* FONT COLOR */
  --font-base-color: #2c3e50;
  --font-link-color: #2c3e50;
  --font-link-active-color: #42b983;
  --font-link-hover-color: ;
  /* FONT COLOR */

  /* FONT SIZE */
  --font-base-size: ;
  --font-button-size: 1rem;
  --font-link-size: ;
  --font-title-size: ;
  /* FONT SIZE */

  /*  FONT WEIGHT */
  
  /*  FONT WEIGHT */

  /* MESSAGE COLOR */
  --background-error-message-color: #f8d7da;
  --border-error-message-color: #f0adb4;
  --font-error-message-color: #c55c66;
  --background-success-message-color: #d1e7dd;
  --border-success-message-color: #9bc5b2;
  --font-success-message-color: #146c43;
  /* MESSAGE COLOR */

  /* BUTTON FONT COLOR */
  --button-light-color: #fff;
  --button-dark-color: #000;
  --button-delete-color: ;
  --button-update-color: ;
  --button-submit-color: ;
  /* BUTTON FONT COLOR */

  /* BUTTON BACKGROUND COLOR */
  --button-background-logout-color: #ffc107;
  --button-background-link-color: #0d6efd;
  --button-background-hover-color: #fff;
  --button-background-submit-color: #198754;
  --button-background-delete-color: #dc3545;
  /* BUTTON BACKGROUND COLOR */

  /* BACKGROUND COLOR */
  --background-base-color: #fff;
  --background-panel-color: rgb(241, 241, 241);
  /* BACKGROUND COLOR */

  /* BORDER COLOR */
  --border-panel-color: #fff;
  /* BORDER COLOR */

  /* FORM */
  --border-from-color: rgba(101, 148, 235, 0.539);
  /* FORM */
}